.MenuBar {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}


.Home p{
  padding-top: 2em;
  padding-bottom: 2em;
  font-style: italic;
}

.Home {
  /*word-wrap: normal;*/
  width: 80%;
  margin-top: 1em;
  margin-left: 10%;
  color: #31312c;
  background-color: #f5f5dc;
}

.App {
  text-align: center;
  background-color: #31312c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
